language: python
python:
 - "3.5.4"

install:
 - pip install -r requirements.txt
 - pip install pytest
 - pip install pytest-cov
 - pip install coveralls

script:
 - python manage.py tests

after_success:
 - coveralls
