language: python
python:
 - "3.5.4"

install:
 - pip install -r requirements.txt
 - pip install pytest
 # Generate the coverage report locally.
 - pip install pytest-cov
 # Submit coverage report to coveralls.io.
 - pip install coveralls

script:
 - python tests.py
 # Restrict testing.
 - pytest --cov

after_success:
 - coveralls
