language: python
python:
 - "3.5.4"

install:
 - pip install -r requirements.txt
 # Submit coverage report to coveralls.io.
 - pip install coveralls

script:
 - python -m unittest -v
 - coverage run --source=app/tests tests.py

after_success:
 - coveralls
